.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .countdown-interval {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 10px;
    width: 200px; 
    height: 200px; 
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 3rem; 
    color: white; 
    text-align: center; 
  }
  
  .countdown-label {
    display: block;
    font-size: 1rem; 
    color: #888;
    margin-top: 2px; 
    margin-left: 10px;
    text-align: center; 
  }
    