* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .event,
  .events1,
  .events2,
  .events3,
  .tickets {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
  }
  
  .event {
    background-image: url('./assets/img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #40e5eb;
    font-size: 100px;
  }
  
  .events1 {
    background-image: url('./assets/img2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .events2 {
    background-image: url('./assets/img7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .events3 {
    background-image: url('./assets/img6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }




  



